.profile-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-list {
    width: 100%;
  }
}

.profile-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  ion-avatar {
    --border-radius: 4px;
    
  }

  ion-button {
    margin-top: 10px;
  }
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
}

.avatar{
  border-radius: 10%;
}