<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Home</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        
      </ion-card-content>
    </ion-card>

    <!-- Botones de ejemplo para la navegación -->
    <ion-button expand="full" routerLink="/profile" color="primary">
      Ver Perfil
    </ion-button>

    <ion-button expand="full" routerLink="/settings" color="secondary">
      Configuración
    </ion-button>
  </div>
</ion-content>

